*{
    font-family: -apple-system;
}
.posts{

}
.item{
    color: darkslateblue;
}
.active{
    color: darkmagenta;
}
.message_post{
    border: 1px solid darkblue;
    width: 140px;
    padding: 10px;
    background-color: cornflowerblue;
    color: antiquewhite;
}
.likes{
    color: cornflowerblue;
    padding-left: 100px;
}