.dialogs{
    display: grid;
    grid-template-areas:
        "d m";
    grid-template-columns: 2fr 10fr;
}
.dialog_user{
    grid-area: d;
}
.dialogs_item{
    padding: 10px;
}
.dialogs_item .active {
    color: blue;
}
.dialog{
    color: yellow;
}
.messages{
    grid-area: m;
    color:red;
}
